


:root {
	--cyrillic-mono-stack: 'Lucida Console', 'Courier New', 'MS Gothic', monospace;
}

body { margin: 0; background:
  url("data:image/svg+xml;utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22200%22%20height%3D%22200%22%3E%3Cfilter%20id%3D%22n%22%3E%3CfeTurbulence%20type%3D%22fractalNoise%22%20baseFrequency%3D%221.08%22%20numOctaves%3D%223%22%20stitchTiles%3D%22stitch%22%2F%3E%3C%2Ffilter%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20filter%3D%22url(%23n)%22%20opacity%3D%220.61%22%2F%3E%3C%2Fsvg%3E"),
  linear-gradient(207deg, #d9d9d9, #a2443c44); color: #fff; }

.mono, code, pre { font-family: var(--cyrillic-mono-stack); }


